.main {
  width: 100vw;
  padding-top: 50px;

  &__wrapper {
    @media only screen and (min-width: 640px) {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}
.title {
  text-align: center;
  font-family: $fontGame;
  padding: 50px;
}
.pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;

  &__card {
    margin: 0 20px 20px 0;
    border: 2px solid $colorBlack;
    height: 250px;
    padding: 10px 0;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &:hover {
      background-color: $colorLightPink;
    }

    &--name {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      padding: 5px 5px;
      border-top: 2px dotted $colorPink;
      border-bottom: 2px dotted $colorPink;
    }
    &--img {
      width: 100px;
    }
    &--type {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      color: $colorWhite;
      margin: 5px;
      padding: 2px;
      font-size: 0.8rem;
      background-color: $colorRed;
      border-radius: 10%;
      width: 80px;
      height: 20px;
    }
    &--evolution {
      text-transform: capitalize;
      padding: 7px 0;
    }
    &--fav {
      align-self: flex-end;
      position: relative;
      top: 25px;
      padding: 5px 10px;
      background-color: rgba(255, 255, 255, 0);
      color: $colorRed;
      &:hover {
        transform: scale(1.2);
      }

      &-icon {
        align-self: flex-end;
        padding: 5px 10px;
        background-color: rgba(255, 255, 255, 0);
      }
    }
  }
}
