//color
$colorBlack: #0d0d0d;
$colorWhite: #f2f2f2;
$colorLightPink: #fad2d9;
$colorPink: #f23558;
$colorRed: #d9042b;

//font
$fontGame: "Press Start 2P", cursive;
$fontRoboto: "Roboto", sans-serif;
